/* CSS Document */


*{
margin:0px;
padding:0px;
}
img{
border:none;
}
body{
 background:#ECECF2;
font: 14px Helvetica, Sans-Serif;  

}
 
a									{ text-decoration: none; }
ul									{ list-style: none; }
.left{
float:left;
}
.right{
float:right;
}







/*************************************************************
************************* wrapper *****************************
**************************************************************/
#wrapper{
width:780px;
margin:auto;
border:solid 3px #bcbcbc;
background:#fff;


}

/*************************************************************
************************* Header *****************************
**************************************************************/
#header{
width:780px;
margin:auto;
}

#Title-bg h2{
text-align: center; 
color:#ff8316;
padding-top:20px;

}
#Title-bg{
background:url(images/fon_top.gif) repeat-x;
width:100%;
height:90px;
}

/*************************************************************
************************* Menu *****************************
**************************************************************/
#access{
width:780px;
margin:auto;
background:url(images/fon02.gif) repeat-x;
height:24px;
border-bottom:solid 1px #ff8316;
border-top:solid 1px #ff8318;
}
#access ul{
list-style:none;


}

ul.dropdown { 
position: relative; 
}
ul.dropdown li{
 font-weight: bold;
  font-size:13px;
   float: left; 
   zoom: 1;  
 }
ul.dropdown a:hover		            { color: #000; }
ul.dropdown a:active                { color: #ffa500; }
ul.dropdown li a                    { display: block; padding: 4px 8px; border-right: 1px solid  #EFEFEF;
	 								  color: #000; }
ul.dropdown li:last-child a         { border-right: none; } /* Doesn't work in IE */
ul.dropdown li.hover,
ul.dropdown li:hover                { background: #FFA500; color: black; position: relative; }
ul.dropdown li.hover a              { color: black; }


/* 
	LEVEL TWO
*/
ul.dropdown ul 						{ width: 220px; visibility: hidden; position: absolute; top: 100%; left: 0; }
ul.dropdown ul li 					{ font-weight: normal; background: #f6f6f6; color: #000; 
									  border-bottom: 1px solid #ccc; float: none; }
									  
                                    /* IE 6 & 7 Needs Inline Block */
ul.dropdown ul li a					{ border-right: none; width: 100%; display: inline-block; } 

/* 
	LEVEL THREE
*/
ul.dropdown ul ul 					{ left: 100%; top: 0; }
ul.dropdown li:hover > ul 			{ visibility: visible; }



#sideBarMenu{
background:#ccc;
width:200px;
height:200px;
margin-top:-33px;
  border:1px solid #999999;
-moz-border-radius:0px 15px 15px 0;
-webkit-border-radius: 0px 15px 15px 0;
-khtml-border-radius: 0px 15px 15px 0;
border-radius: 15px;

transform:rotate(30deg);

}
#sideBarMenu ul li a{
display:block;
color:#000;
font-size:13px;
font-weight:bold;
border-bottom:dotted 1px #FFFFFF;
padding:5px 0 5px 8px;
}
#sideBarMenu ul li:first-child {
border-bottom:dotted 1px #FFFFFF;
}
#sideBarMenu ul li a:hover{
background:#FFA500;

}
#sideBarMenu ul li:first-child a{

 border:0px solid #FFA500;
-moz-border-radius:0px 15px 0 0;
-webkit-border-radius:0px 15px 0 0;
-khtml-border-radius:0px 15px 0 0;
border-radius: 15px;
 
}

/*************************************************************
************************* sidebar *****************************
**************************************************************/
#sideMenu{
background:#efeeee;
width:150px;
height:300px;
float:right;

}


/*************************************************************
************************* content *****************************
**************************************************************/
#content{
clear:both;

width:100%;
background:#ddd;
}
#content input:focus,select:focus
{
  color : #009;
  border : 1px solid #990000;
  background:#ffff99;
  font-weight:bold;
}
 #content table th{
text-align:left;
font-size:16px;
color:#000;
padding:5px;
font-family:"Times New Roman", Times, serif;
}
 #content table td{
 font-size:16px;
 font-family:"Times New Roman", Times, serif;
 font-weight:800;
 
 
 
 
 }
#application{
 width:100%;
 height:400px;
 overflow:auto;
}
  #content table td input[type=text]{
   width:200px;
   height:22px;
     border:2px solid #999999;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
-khtml-border-radius: 10px;
border-radius: 10px;
padding-left:6px;   
  }

#content table td select{
  width:170px;
  padding:4px;
border:2px solid #999999;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
-khtml-border-radius: 10px;
border-radius: 10px;
  }
  #content textarea{
  border:2px solid #999999;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
-khtml-border-radius: 10px;
border-radius: 10px;

  
  }
 #faculty{
 width:100%;

 
 overflow:auto;
 }
#content h1,h3{
text-align:center;
color:#cc6600;

}


#admin-login input[type="text"], table input[type="password"]
{
	
	height:25px;
	width:200px;
	padding-left:5px;
	border:2px solid #999999;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
-khtml-border-radius: 10px;
border-radius: 10px;  
	
}
#admin-login input[type=submit]
{
width:100px;
height:30px;
}
#admin-login{
width:300px;

background:#d2d2d2;
clear:both;
border:solid 1px;
margin-left:255px;
margin-bottom:20px;
}
#invalid-user{
color: #FF0000;
font-size: 22px;
text-align: center;
}

.backBtn{
background:url(../images/images.png) no-repeat;
float: right;
height: 73px;
margin-top: -45px;
width: 73px;
}
#personal_information{
width:500px;

margin:auto;
background:#d2d2d2;
	border:2px solid #999999;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
-khtml-border-radius: 10px;
border-radius: 10px;  
}

/*************************************************************
************************* Footer *****************************
**************************************************************/
#footer{
width:780px;
height:30px;
background:#fff;
margin:auto;
}
#footer p{
text-align:center;
}
